<main class=index>
   <header class="master d-flex">
        <div class="container my-auto text-center">
           <h1 class="mb-1">Favorite Links</h1>
           <h5 class="mb-5">
               <em>Store your favorite Links</em>
           </h5>
           <a href="/signup" class="btn btn-primary"> let't go</a>
        </div>
   </header>

</main>